<button class="hamburger hamburger--squeeze" type="button">
    <span class="hamburger-box">
        <span class="hamburger-inner"></span>
    </span>
</button>

<div class="overlay overlay-data">
    <div class="overlay_container clear">
        <nav>
            <div class="grid">
                    
                <ul>
                    <div class="frow justify-start">
                    
                        <li>social</li>
                        <li>news</li>
                        <li>subscribe</li>
                    
                    </div>
                </ul>
                    
            </div>
        </nav>
    </div>
</div>