<section class="portfolio">
    
    {% for item in site.portfolio %}
    <div class="portfolio_item">
        <div class="frow justify-between">
            <div class="portfolio_meta">
                <div class="portfolio_subtitle">{{ item.subtitle }}</div>
                <div class="portfolio_title">{{ item.title }}</div>
                <div class="portfolio_desc">{{ item.desc }}</div>
                <div class="portfolio_bottom">
                    <div class="portfolio_title">{{ item.release }}</div>
                    <a href="{{ item.cta_url }}">
                        <div class="portfolio_cta">
                            {{ item.cta }}
                        </div>
                    </a>
                </div>
                
            </div>
            <div class="portfolio_img" style="background-image:url('{{item.cover}}');">
                <div class="frow centered">
                    <div class="portfolio_img_inner"><img src="{{ item.cover-img }}" style="width: {{ item.width }}" /></div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</section>