<section class="standout">
    <div class="frow justify-between">
        
        {% for item in site.data.standout %}
        <div class="standout_item">
            <div class="standout_title {% if item.class %}{{ item.class }}{% endif %}">
                {{ item.subtitle }}
            </div>
            <div class="standout_img">
                <img src="{{ item.image }}" />
            </div>
            <div  class="standout_cta_wrapper">
                <a href="{{ item.cta_url }}">
                    <div class="standout_cta {% if item.cta-class %}{{ item.cta-class }}{% endif %}">{{ item.cta }}</div>
                </a>
            </div>
            
        </div>
        {% endfor %}

    </div>
</section>