<section class="stream" style="background-image:url('/img/ci-bg-003.png');">
    <div class="frow justify-between">
        <div class="stream_item text">
            <div class="stream_subtitle">Stream</div>
            <div class="stream_title">Culture Intersects x Sounds</div>
            <a href="/"><div class="stream_cta">Listen on Tidal</div></a>
        </div>
        <div class="stream_item">
            <div class="stream_img"><img src="/img/ci-stream.png"/></div>
        </div>
    </div>
</section>