@font-face {
    font-family: 'Akira';
    src: url('/akira.otf')  format('opentype'), /* Safari, Android, iOS */
  }

body {
    
    font-family: $primary-font;
    margin: 0;
    background-color: $blue;
    
}
input {
    color:$yellow;
}
.bg_img {
    background-size: 100%;
    background-position: top center;
}
.grid {
    padding: 25px;
    position: relative;
    // z-index: 3;
    // background: $blue;

    &.ci_overlay_grid {
        background: transparent;
    }

    @include palm {
        padding:25px 50px;
    }
    @include tablet {
        padding: 25px 50px;
        max-width:800px;
        margin:auto;
    }
    @include laptop {
        max-width: initial;
        padding: 25px 50px 35px;
        
    }
    @include desktop {
    }
    @include widescreen {
        max-width:1420px;
        margin:auto;
    }

    &.header {
        @include tablet {
            padding:15px 25px;
        }
        @include laptop {
            padding: 0 50px 0;
        }
    }
}
.grid-width {
    @include laptop {
        height:calc(100vh - 160px);
    }
}
.logo {
    // text-align: center;
    width: 60px;
    // margin: 25px auto;

    @include laptop {
        margin:25px 0;
    }
}

.hero-img {
    height: 50vh;
    padding:  0px 0 75px;
    margin:auto;
    color: blue;
    max-width: 425px !important;
    
    @include palm {

    }

    @include tablet {
        height:60vh;
    }
    @include laptop {
        width: 50%;
        padding:0;
        margin: initial;
        height: 100%;
        max-width: none !important;
    }

    @include widescreen {
        width:60%;
    }
}
.hero-content {
    @include tablet {
        width:75%;
        margin: auto;
    }
    @include laptop {
        width: 40%;
    }
    @include widescreen {
        
        padding-right:50px;
    }
}
.title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 7px;
    border-bottom: 2px solid;
    margin: 0 auto 25px;
    width: fit-content;

    @include palm {
        font-size: 20px;
    }

    @include desktop {
        font-size: 28px;
    }
}
.desc {
    text-align: center;
    font-size: 16px;
    font-family: $body-font;

    @include desktop {
        font-size:22px;
    }
}
.subscribe {
    padding-top: 100px;

    @include desktop {
        padding-top:75px;
    }
    @include widescreen {
        padding-top:50px;
    }
}
.line {
    width: 50px;
    border-bottom: 2px solid;
    height: 2px;
}
.line-text {
    text-transform:uppercase;
    font-size:20px;
    font-weight: bold;
}
.more {
    padding:50px 0;
}
.follow {
    text-align:center;
    font-size:24px;
    text-transform:uppercase;
    font-weight: bold;
    line-height: 1;
    padding-bottom: 25px;

    @include desktop {
        padding-bottom:25px;
        width:65%;
        margin:auto;
    }

    a {
        color: $yellow;
        text-decoration:none;

        &:hover {
            color: $white;
        }
    }
}

.copyright {
    width:100%;

    @include laptop {
        width: 35%;
    }
}
.footer-link {
    width: 100%;

    @include laptop {
        width: 25%;
        text-align:right;
    }

    a {
        color: $yellow;
        text-decoration:none;

        &:hover {
            color: $white;
        }
    }
}

// Thank You Page
.thankyou-wrapper {
    height: calc(100vh - 270px);

    @include palm {
        height: calc(100vh - 370px);
    }
    @include tablet {
        height: auto;
    }
}
.thankyou-section {
    font-size: 32px;
    letter-spacing: 2.4px;
    text-align: center;

    span {
        font-size: 14px;
        display: block;
        letter-spacing: 0.5px;
    }
}
.primary-btn {
    text-decoration: none;

    div {
        font-size: 11px;
        margin: 25px;
        color: white;
        border: 2px solid;
        width: auto;
        display: inline-block;
        padding: 5px 15px;

        &:hover {
            color: $blue;
        }
    }
}

// Home
.ci_section_header {
    @include desktop {
        width: 65%;
    }
}
.ci_section_title {
    color: $liteblue;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0.78;
    padding-bottom: 25px;

    @include  tablet {
        width: 65%;
    }
    @include desktop {
        font-size: 54px;
    }
    @include widescreen {
        font-size: 60px;
    }
    
}
.ci_section_desc {
    font-family: $alt-font;
    color: $liteblue;
    font-size: 20px;

    @include widescreen {
        font-size: 26px;
    }
}

.banner {
    margin-top:75px;
}
.banner_item {
    padding-bottom: 75px;

    @include tablet {
        width: 48%;
    }
}
.content_title {
    
    a {
        color: $liteblue;
        text-decoration: none;
        font-size: 33px;
        line-height: 1;
        margin-top: -33px;
        display: block;
        margin-left: 16px;

        @include tablet {
            font-size: 26px;
            margin-top: -20px;
        }

        @include desktop {
            font-size: 36px;
            margin-left: 55px;
            width: 80%;
        }
    }
}

// Home - Portfolio Section
.portfolio {
    background: $gray;
    color: $blue;
    padding:1px 0 0;

    .portfolio_item {
        border-bottom: 30px solid #E0E0E0;
        margin-top: 75px;
        padding-bottom: 75px;
        position: relative;

        &:last-child {
            border-bottom: 0;
            // padding-bottom: 0;
        }

        
    }
    .portfolio_meta {
        padding: 0 35px 75px;

        @include tablet {
            width:65%;
        }

        @include desktop {
            width: 50%;
        }
        @include widescreen {
            padding-left: 100px;
            width: 40%;
        }
    }
    .portfolio_subtitle {
        padding-bottom: 15px;
    }
    .portfolio_title {
        font-size: 32px;
        line-height: 1;
        padding-bottom: 30px;

        @include tablet {
            font-size: 36px;
        }
        @include widescreen {
            width: 75%;
        }
    }
    .portfolio_desc {
        font-family: $alt-font;
        font-size: 18px;
        padding-bottom:75px;

        @include desktop {
            padding-bottom: 275px;
        }
        @include widescreen {
            font-size: 22px;
        }
    }
    .portfolio_bottom {
        position: absolute;
        bottom:75px;
        width:35%;
    }
    
    .portfolio_cta {
        @include cta($blue, $liteblue)
    }
    .portfolio_img {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 50vh;
        background-color: $blue;
        padding: 15px 0 15px 15px;

        @include tablet {
            border: 25px solid;
            height: 75vh;
        }

        @include desktop {
            width: 50%;
        }
        @include widescreen {
            width: 45%;
        }
        
    }
}

// Home - Standout Section
.standout {
    margin-bottom: 65vh;

    @include tablet {
        margin-bottom: 30vh;
    }
    .standout_item {
        padding: 45px;

        &:first-child {
            background-color: $green;
        }
        &:last-child {
            background-color: $darkgray;
        }

        @include tablet {
            padding:75px;
        }

        @include desktop {
            width:50%;
            padding: 50px;
        }
        @include widescreen {
            padding: 50px 75px 50px;
        }

        .standout_title {
            width: 200px;
            line-height: 1;
            padding-bottom: 40px;
            color: $yellow;
        
            &.two {
                color: $liteblue;
            }

            @include tablet {
                font-size: 24px;
                width: 250px;
            }
        }
        .standout_img {
            padding-bottom: 40px;

            @include tablet {
                width: 85%;
                margin: auto;
            }
            
            @include widescreen {
                width: 70%;
            }
        }
        .standout_cta {
            @include cta($yellow, $black);
            font-size: 14px;

            &.two {
                @include cta($liteblue, $black); 
            }
        }
        .standout_cta_wrapper {
            text-align: center;
        }
    }
}


// PreLoader
// PreLoader
// This only works with JavaScript, if it's not present, doesn't show loader
.no-js #loader {
    display: none;
  }
  .js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
  }
  .se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(/img/ci-preloader.gif) center no-repeat #fff;
  }

  .component {

      font: 300;
      font-weight: bold;
      background-color: red;
  }
  .sibling_component {
      @extend .component;
      font-size: 20px;
  }