@font-face {
    font-family: 'Akira';
    src: url('/akira.otf')  format('opentype'), /* Safari, Android, iOS */
         
  }

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: $primary-font;
    margin: 0;
}
input {
    color:$yellow;
}
.grid {
    padding: 25px;

    @include palm {
        padding:50px;
    }
    @include tablet {
        padding:100px;
        max-width:800px;
        margin:auto;
    }
    @include laptop {
        max-width: initial;
        padding: 50px 50px 35px;
    }

    &.header {
        @include tablet {
            padding:15px 25px;
        }
        @include laptop {
            padding: 15px 50px 0;
        }
    }
}
.logo {
    text-align: center;
    width: 275px;
    margin: 25px auto;

    @include laptop {
        margin:25px 0;
    }
}
.hero-img {
    padding:  50px 0 75px;
    margin:auto;

    @include laptop {
        width: 50%;
        padding:0;
        margin: initial;
    }

    @include widescreen {
        width:60%;
    }
}
.hero-content {
    @include laptop {
        width: 40%;
    }
    @include widescreen {
        
        padding-right:150px;
    }
}
.title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 7px;
    border-bottom: 2px solid;
    margin: 0 auto 25px;
    width: fit-content;

    @include palm {
        font-size: 20px;
    }

    @include desktop {
        font-size: 28px;
    }
}
.desc {
    text-align: center;
    font-size: 18px;
    font-family: $body-font;

    @include laptop {
        font-size:22px;
    }
}
.subscribe {
    padding-top: 100px;

    @include desktop {
        padding-top:75px;
    }
    @include widescreen {
        padding-top:50px;
    }
}
.line {
    width: 50px;
    border-bottom: 2px solid;
    height: 2px;
}
.line-text {
    text-transform:uppercase;
    font-size:20px;
    font-weight: bold;
}
.more {
    padding:50px 0;
}
.follow {
    text-align:center;
    font-size:24px;
    text-transform:uppercase;
    font-weight: bold;
    line-height: 1;
    padding-bottom: 75px;

    @include desktop {
        padding-bottom:25px;
        width:55%;
        margin:auto;
    }

    a {
        color: $yellow;
        text-decoration:none;

        &:hover {
            color: $white;
        }
    }
}
footer {
    text-transform: uppercase;
    font-weight: bold;
    text-align:center;
    padding:20px;
    font-size:11px;

    @include widescreen {
        padding: 0 25px;
        text-align:initial;
    }
}
.copyright {
    width:100%;

    @include laptop {
        width: 25%;
    }
}
.footer-link {
    width: 100%;

    @include laptop {
        width: 25%;
        text-align:right;
    }

    a {
        color: $yellow;
        text-decoration:none;

        &:hover {
            color: $white;
        }
    }
}