

.hamburger {
    @include laptop {
      display: none !important;
    }
  }
  
  /* No Scroll w/ Overlay Present */
  body.noScroll {
    overflow: hidden;
  }
  
  .overlay_container {
    position: relative;
  }
  
  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: $liteblue;
    z-index: 9009;
    // overflow: scroll;
  }
  .overlay nav {
      width: 100%;
  
  }
  .overlay ul {
    list-style: none;
  }
  .overlay ul li:last-child {
    margin-bottom: 0;
  }

  .overlay-close {
    width: 40px;
    height: 35px;
    position: fixed;
    overflow: hidden;
    border: 0 !important;
    background-color: transparent !important;
    z-index: 7000;
    bottom: 5%;
    margin: 10px;
  
    @include tablet {
      bottom: auto;
      top: 50%;
    }
    @include desktop {
      display: none;
    }
  }
  .overlay-data {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
  }
  .overlay-open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }

  // CI Overlay 
  .ci_overlay {
    text-align: center;
    padding: 15vh 0;

    .ci_overlay_logo {
      width: 75px;
      margin: 0 auto 40px;
    }
    .ci_overlay_title {
      font-size: 32px;
      line-height: 1;
      padding-bottom: 75px;
      color: $blue;
    }

    .ci_overlay_menu {
      li {
        font-size: 20px;

        a {
          color: $blue;
          text-decoration: none;
        }
      }
    }
  }
  
  
// Footer
footer {
  position: fixed;
  z-index: -1;
  width: 65%;
  margin: 100px auto 25px;
  border-top: 2px solid $liteblue;
  left: 0;
  right: 0;
  bottom: 0;

  @include tablet {
    width: 80%;
    padding-top: 35px;
  }

  

  .footer_logo {
    padding: 50px 0;
    width: 75px;
    margin:auto;

    @include tablet {
      margin:0;
      padding:0;
    }
  }

    .footer_menu {
      width:100%;

      @include tablet {
        width: 55%;
      }

      @include desktop {
        width: 40%;
      }

      @include widescreen {
        width: 30%;
      }

      .footer_menu_list {
        padding-bottom: 25px;
        li {
          padding-bottom: 4px;
          font-size: 14px;

          a {
            color: $liteblue;
            text-decoration: none;

            &:hover {
              color: $yellow;
            }
          }
        }
      }
    }
  }
  
  
  