{% include head.html %}
{% include header.html %}

<div class="grid grid-width">
    <div class="frow justify-between">
        <div class="hero-img">
            <div class="frow centered">
                <img src="/img/ci-hero.png" />
            </div>
        </div>

        <div class="hero-content">
            <div class="title">Culture Intersects</div>
            <div class="desc">Culture Intersects is a digital platform that highlights the intersections of black culture and commerce.  Sharing stories about our heroes and their blueprints.</div>

            <div class="subscribe">
                <!-- Begin Mailchimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
                <style type="text/css">
                    #mc_embed_signup{clear:left; font:14px 'Montserrat',Helvetica,Arial,sans-serif; }
                    #mc_embed_signup input.button {
                        background-color: #e1ee8e;
                        color: black;
                        width:65%;
                    }
                    #mc_embed_signup input.email {
                        border-color: #f7f7f7;
                        width: 80%;
                        color:#e1ee8e;
                    }
                    #mc_embed_signup label {
                        padding-bottom: 0;
                        text-transform: uppercase;
                        font-size: 20px;
                        font-family: $primary-font !important;
                    }
                    input:placeholder-shown {
                        color: #f7f7f7 !important;
                    }
                    #mce-EMAIL {
                        margin: 40px auto 20px !important;
                    }
                    #mc-embedded-subscribe {
                        margin: auto !important;
                    }
                    #mc_embed_signup_scroll {
                        text-align: center;
                        font-family: 'Akira','Montserrat',sans-serif;
                    }
                    #mc_embed_signup .button:hover {
                        background: white;
                    }

                    @media screen and (min-width:992px) {
                        #mc_embed_signup input.email {
                            width: 75%;
                        }
                        #mc_embed_signup input.button {
                            width:45%;
                        }
                    }
                    @media screen and (min-width:1200px) {
                        #mc_embed_signup_scroll label {
                            width:70%;
                            margin: auto;
                        }
                        #mc_embed_signup input.email {
                            width:50%;
                        }
                    }
                    /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                </style>
                <div id="mc_embed_signup">
                <form action="https://cultureintersects.us17.list-manage.com/subscribe/post?u=06110083b3b5d4a6efa93981d&amp;id=7bcfa69a80" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                    <label for="mce-EMAIL">Subscribe to our newsletter</label>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_06110083b3b5d4a6efa93981d_7bcfa69a80" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </div>
                </form>
                </div>

                <!--End mc_embed_signup-->
            </div>

            <div class="insta">
                <div class="more">
                    <div class="frow row-center">
                        <div class="line"></div><div class="line-text">&nbsp;&nbsp;and&nbsp;&nbsp;</div><div class="line"></div>
                    </div>
                </div>
                <div class="follow"><a href="https://www.instagram.com/cultureintersects"  target="_blank">follow us on instagram</a></div>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}